################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
minitage-globaenv=true
extensions=buildout.minitagificator
[versions]
[python]
version=2.6
[locations]
BOOST=${buildout:directory}/../../dependencies/boost-1/parts/part
FREETYPE=${buildout:directory}/../../dependencies/freetype-2.3/parts/part
GDAL=${buildout:directory}/../../dependencies/gdal-1.7/parts/part
TIFF=${buildout:directory}/../../dependencies/libtiff-3/parts/part
JPEG=${buildout:directory}/../../dependencies/libjpeg/parts/part
LIBXML2=${buildout:directory}/../../dependencies/libxml2-2.7/parts/part
PROJ=${buildout:directory}/../../dependencies/proj-4.7/parts/part
PGSQL=${buildout:directory}/../../dependencies/postgresql-8.4/parts/part
PNG=${buildout:directory}/../../dependencies/libpng-1.2/parts/part
ZLIB=${buildout:directory}/../../dependencies/zlib-1.2/parts/part
ICU=${buildout:directory}/../../dependencies/icu-4.5/parts/part
CAIROMM=${buildout:directory}/../../dependencies/cairomm-1.8/parts/part
CAIRO=${buildout:directory}/../../dependencies/cairo-1.8/parts/part
ICONV=${buildout:directory}/../../dependencies/libiconv-1.12/parts/part
INCS=${locations:BOOST}/include ${locations:FREETYPE}/include ${locations:GDAL}/include ${locations:ICU}/include ${locations:TIFF}/include ${locations:JPEG}/include ${locations:LIBXML2}/include ${locations:PROJ}/include ${locations:PGSQL}/include ${locations:PNG}/include ${locations:ZLIB}/include ${locations:ICU}/include ${locations:CAIROMM}/include ${locations:CAIRO}/include ${locations:ICONV}/include
LIBS=${locations:BOOST}/lib  ${locations:FREETYPE}/lib ${locations:GDAL}/lib ${locations:ICU}/lib ${locations:TIFF}/lib ${locations:JPEG}/lib ${locations:LIBXML2}/lib ${locations:PROJ}/lib ${locations:PGSQL}/lib ${locations:PNG}/lib ${locations:ZLIB}/lib ${locations:ICU}/lib ${locations:CAIROMM}/lib ${locations:CAIRO}/lib ${locations:ICONV}/lib

PYTHON=${buildout:directory}/../../bin/python
#PYTHON=${buildout:directory}/../python-${python:version}/parts/part/bin/python


[part]
recipe = minitage.recipe.cmmi
url = http://distfiles.minitage.org/public/externals/minitage/mapnik-0.7-r2271.tbz2
#pre-configure-hook=${buildout:directory}/hooks/h.py:h
patches=
    ${buildout:directory}/patches/scons.diff
noconfigure=true
make-binary=${locations:PYTHON} scons/scons.py
common-options=
    THREADING="multi" \
    CAIRO="True" \
    BOOST_INCLUDES="${locations:INCS}" \
    BOOST_LIBS="${locations:LIBS}" \
    FREETYPE_CONFIG="${locations:FREETYPE}/bin/freetype-config" \
    GDAL_INCLUDES="${locations:INCS}" \
    GDAL_LIBS="${locations:LIBS}" \
    ICU_INCLUDES="${locations:INCS}" \
    ICU_LIBS="${locations:LIBS}" \
    TIFF_INCLUDES="${locations:INCS}" \
    TIFF_LIBS="${locations:LIBS}" \
    JPEG_INCLUDES="${locations:INCS}" \
    JPEG_LIBS="${locations:LIBS}" \
    XMLPARSER="libxml2" \
    XML2_CONFIG="${locations:LIBXML2}/bin/xml2-config" \
    PROJ_INCLUDES="${locations:INCS}" \
    PROJ_LIBS="${locations:LIBS}" \
    PGSQL_INCLUDES="${locations:INCS}" \
    PGSQL_LIBS="${locations:LIBS}" \
    PNG_INCLUDES="${locations:INCS}"
    PNG_LIBS="${locations:LIBS}" \
    ICU_INCLUDES="${locations:INCS}" \
    ICU_LIBS="${locations:LIBS}" \
make-options= ${part:common-options}
                     BINDINGS="none" \
                     DESTDIR="/" PREFIX="${buildout:directory}/parts/part"
make-install-options=DESTDIR="/" PREFIX="${buildout:directory}/parts/part"
md5sum=694aac21a496a2d1d9f582bacf43064d
environment=
    LDFLAGS=-lproj
make-install-append-options= true
post-make-hook=${buildout:directory}/hooks/h.py:p



